/* تنسيق القائمة العلوية */
nav {
  background-color: darkred;
  padding: 20px;
  border-radius: 10px;
  
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

nav ul li a:hover {
  color: #ab9c9c;
}

/* تنسيق الصفحة العامة */
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  direction: rtl; /* للغة العربية */
background-image: url(3.jpg.jpg);
background-repeat: no-repeat;
background-size: cover;


}

/* محتوى الصفحات */
div {
  text-align: center;
  padding: 30px;
}

h1 {
  color: #060406d5;
}

button {
  margin: 20px;
  padding: 20px 20px;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #d63606;


}

/* تنسيق قائمة الطلبات */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: rgb(123, 12, 12);
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 4 10 5px rgba(0,0,0,0.1);
}

.home *{
font-size: 40px;
color: #fff;
}
.home{
  margin-top: 200px;
}

.ser{
  margin-top: 200px;
  
}
.ser ul li{
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 30px;
}

h1{
  color: darkred;
  font-size: 40px;
  margin-bottom: 40px;
}
.menu{
  margin-top: 40px;

}
.menu button{
  font-size: 30px;
  margin-top: 10px;
  
}

p{
  font-size: 40px;
  color: #fff;
}

.ul{
  cursor: pointer;
  font-size: 30px;
  color: #fff;
}
.foter{
  margin-top: 300px;
  

}
.p{
  font-size: 20px;
}









